body {
  background-color: #52dd88; /* pastel green background */
}

h1, h2, h3 {
  color: #96ceb4; /* pastel green headings */
}

p {
  color: #2c3e50; /* dark text color */
}

a {
  color: #3d9970; /* pastel green link color */
  text-decoration: none; /* remove underline from links */
}

a:hover {
  color: #2c3e50; /* dark link color on hover */
}
